# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
[Ll]ibrary/
sysinfo.txt
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
*.csproj

*.meta

Library/metadata/0a/0a98e962107b5eb4ca49029a14a87eaf

Library/metadata/11/11faa5fab8823454b844cb5f33ab496a

Library/metadata/68/6804babace5cc47dd8b61abb292c4be2

Library/assetDatabase3

Library/metadata/b0/b03c2fa88bd5f441eac81da700881ecf

Library/metadata/ca/cab9ec2d8436593449f6817dcaefa076

Library/metadata/da/da3b3ca0c0f68e44db5082fb0d6f7890

Library/metadata/db/dbd8113218d48004dbd47e6346c81f0e

Library/metadata/dc/dcb0c6009da45114b96511070946b2ad

*.dll

*.mdb

*.csproj

Library/assetDatabase3

Library/metadata/0a/0a98e962107b5eb4ca49029a14a87eaf

Library/metadata/11/11faa5fab8823454b844cb5f33ab496a

Library/metadata/68/6804babace5cc47dd8b61abb292c4be2

Library/metadata/b0/b03c2fa88bd5f441eac81da700881ecf

Library/metadata/ca/cab9ec2d8436593449f6817dcaefa076

Library/metadata/da/da3b3ca0c0f68e44db5082fb0d6f7890

Library/metadata/db/dbd8113218d48004dbd47e6346c81f0e

Library/metadata/dc/dcb0c6009da45114b96511070946b2ad

*.dll

*.mdb
